body {
    background-color: #FFF2F2;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid #2D336B;
}
.logo img {
    width: 80px;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav ul li {
    margin-right: 25px;
}
nav ul li a {
    text-decoration: none;
    color: #2D336B;
    font-size: larger;
}
nav ul li a:hover {
    color: #7886C7;
    text-decoration-line: underline;
    text-underline-offset: 8px;
    text-decoration-color: #2340c1;
}

#hero img {
    width: 100%;
}

#about 
  {  background-image: url(ASSET/yzerys.png);
    background-position: right;
    background-attachment: flex;
    background-repeat: no-repeat;
    background-size: contain;
    height: 75vh;
    padding: 40px;
    background-color: #f0f1f7;}
  

#about h2 {
  margin-top: 50px;
  width: 50%;
  padding-left: 40px;
}
#about p {
  width: 50%;
  padding-left: 40px;
  line-height: 1.7em;
}
